
img{
    border-radius: 100%;
    border: 20px solid #da8989;
    position: relative;
    float:left;
    width: 100%;
}
.first-line{

    background:linear-gradient(to right,rgb(2, 19, 59), blue);
    font-size: 70px;
    font-family: cursive;
    text-align: center;
    border: #da8989 solid 20px;
    border-radius: 20px;
    color: #da8989
;

}
.choices {
    position: relative;
    left: 30px;
}
.cb {
    position: relative;
    bottom: 60px;
    left: 75%;
}
.line2{
    color: rgb(225, 121, 121);
    font-family: cursive;
    font-size: 50px;
    text-align: center;
    border: #da8989 solid 10px;
    font-weight: bold;
    border-radius: 20px;
    background:linear-gradient(to right,rgb(230, 129, 213), rgb(152, 6, 99));
}
.container {
    position: relative;
    text-align: center;
    color: rgb(222, 191, 191);
    width: 50%;

    
  }
  /* Centered text */
  .centered {
    position: absolute;
    top: 75px;
    left: 25%;
    color: rgb(27, 25, 25);
    font-size: 80px;
    opacity: 80%;
    font-family: cursive;
    text-align: center;
    
    
  }
  .legends {
    text-align: center;
    font-size: 25px;
    font-family: cursive;
    color: #da8989;
    background: linear-gradient(to bottom, rgb(160, 70, 196),green);
    border-radius: 10px;
        

  }
  .info {
    color: rgb(227, 112, 112);
    font-family: cursive;
    
    
    
  }
  .two {
   margin: 50px;
   padding: 10px;
  }
  .picks {
    border-radius: 50p;
    font-family: cursive;
    text-align: center;
    border-radius: 8px;
    
    
  }
  .name{
    font-size: 50px;
    margin: 10px;
    color: rgb(219, 131, 126);
    font-family: cursive;
    
  }
  .register
  {
    position: relative;
    left: 50%;
    bottom: 45px;

  }
  body {
    background: linear-gradient(to bottom, rgb(0, 0, 0), white);
    
  }

  .dropbtn {
    background:linear-gradient( to bottom,white, black);

    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    position: relative;
    top: 20px;
    border-radius: 10px 10px 0 0 ;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    ;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(135, 162, 231);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  